/*======================================================================================================================
                                                      color requires
======================================================================================================================*/
$btn-primary-bg: rgb(254, 194, 14);
$btn-primary-bg--hover: rgba(254, 194, 14, .7);
$btn-primary-border-color: #f7971d;
$btn-radius: 10px;
$form-control-border-color: #fec20e;
$form-control-color: #7f3f98;
$bg-base: #f7911f;
$nav-link-hover: #7f3f98;

$base-font-color: #808285;
/*======================================================================================================================
                                                      header
======================================================================================================================*/
.logo {
  position: relative;
  display: block;
  padding: 54px 0 0 90px;
  margin-left: 10px;
  text-decoration: none;
  transition: opacity .3s;
  &:hover,
  &:focus {
    text-decoration: none;
    opacity: .7;
  }
}

.logo-img {
  position: absolute;
  top: 0;
  left: 0;
}

.logo-address {
  margin: 0;
  font-size: 12px;
  color: $base-font-color;
  text-decoration: none;
}

.header-tel-link {
  font-size: 18px;
  text-decoration: none;
  color: $base-font-color;
  &:hover {
    text-decoration: none;
    color: $base-font-color;
  }
}

.toolbar-header {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    margin: 0 22px 0 0;
    text-align: center;
    .badge {
      position: absolute;
      bottom: -1px;
      right: -18px;
      height: 22px;
      width: 22px;
      padding: 0;
      text-align: center;
      border: 2px solid #fff;
      background: #7f3f98;
      font-size: 11px;
      color: #fff;
      line-height: 18px;
    }
    a {
      transition: opacity .3s;
      &:hover {
        opacity: .7;
      }
    }
  }
}

.navbar-collapse {
  background: $bg-base;
  border-radius: 10px 10px 0 0;
}
.navbar {
  margin-bottom: 0;
  min-height: 32px;
}

.navbar-nav {
  a {
    text-decoration: none;
  }
  >li {
    >a {
      background: $bg-base;
      padding: 6px 45px;
      font-size: 16px;
      color: #fff;
      &:hover,
      &:focus {
        background: $nav-link-hover;
      }
      span {
        display: none;
      }
    }
    &:last-child>a {
      border-radius: 0 10px 0 0;
    }
  }
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background: $bg-base;;
}

.navbar-nav>li>.dropdown-menu {
  display: block;
  min-width: 100%;
  visibility: hidden;
  opacity: 0;
  background: $bg-base;
  text-align: center;
  transition: transform .3s, opacity .3s;
  transform: translateY(15px);
  li {
    a {
      color: #fff;
      padding: 5px 15px;
      &:hover,
      &:focus {
        background: none;
        color: #49296f;
      }
    }
  }
}
.navbar-header {
  display: none;
  margin: 10px 0 0;
  background: #ffedb7;
  border-top: 1px solid $bg-base;
  border-bottom: 1px solid $bg-base;
  .l-header-search {
    padding: 0;
    margin: 8px 15px 8px 75px;
  }
}
.navbar-toggle {
  float: left;
  margin-right: 0;
  margin-left: 15px;
  background: $btn-primary-bg;
  border: 1px solid  $bg-base;
  .icon-bar {
    background: #fff;
  }
}
/*======================================================================================================================
                                                  breadcrumb
======================================================================================================================*/
.breadcrumb-wrap {
  margin-top: -1px;
  background: $bg-base;
  margin-bottom: 30px;
}
.breadcrumb {
  margin: 0;
  padding: 4px 20px;
  border-bottom: 1px solid #bebfc1;
  border-radius: 10px 10px 0 0;
  background: #fff;
  li {
    a {
      color: #fb961c;
      font-size: 12px;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &.active {
      color: #7f3f98;
    }
  }
}

.breadcrumb>li+li:before {
  content: '|';
  padding: 0 3px;
}
/*======================================================================================================================
                                                  main slider
======================================================================================================================*/
.main-slider {
  position: relative;
  margin-top: -1px;
  overflow: hidden;
  border-radius: 0 0 8px 8px;
  border: 1px solid $bg-base;
  background: $bg-base;
  &:not(.slick-slider) {
    height: 260px;
    overflow: hidden;
  }
  .slick-dots {
    position: absolute;
    left: 5px;
    bottom: 2px;
    padding: 0 45px;
    margin: 0;
    &:before {
      position: absolute;
      display: block;
      content: '';
      top: -12px;
      left: 5px;
      right: 5px;
      height: 500%;
      border-radius: 50%;
      background: rgba(247, 145, 31, .7);
      transition: transform .3s;
    }
    li {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      line-height: 1;
      list-style: none;
      z-index: 5;
      button {
        width: 15px;
        height: 15px;
        border: 2px solid #fff;
        border-radius: 50%;
        overflow: hidden;
        background: #39b54a;
        text-indent: -9999px;
        transition: transform .3s;
      }
      &.slick-active {
        button {background: $nav-link-hover;}
      }

      &:hover {
        button {
          transform: scale(1.3);
        }
      }
    }
    &:hover:before {
       transform: scale(1.1); 
    }
  }
}

.main-slider-slide {
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  img {
    width: 100%;
  }
}
/*======================================================================================================================
                                                 catalog slider
======================================================================================================================*/
.catalog-slider {
  position: relative;
  margin: 20px -15px 6px;
  &:not(.slick-slider) {
    overflow: hidden;
    height: 307px;
  }
}

.catalog-slider-item {
  &:not(.slick-slide) {
    width: 160px;
    float: left;
  }

  .cs-item-title {
    font-family: 'museo_sans_cyrl';
    text-align: center;
    font-size: 18px;
  }
}

.catalog-slider-item {
  margin: 0 15px 8px;
  
  &:hover {
    .cs-item-img {
      border-color: $bg-base;
      box-shadow: 0 0 8px rgba(127, 63, 152, .47);
    }
    a {
       color: $bg-base;
    }
  }

  figure {
    margin: 0 0px;
    padding: 0;
  }

  img {
    width: 100%;
  }

  a {
    color: $nav-link-hover;
    text-decoration: none;
    transition: color .3s;
  }
  .cs-item-img {
    margin-top: 8px;
    border: 1px solid $nav-link-hover;
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s;
  }
}

.catalog-slider-btn {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 26px;
  height: 36px;
  margin: auto 0;
  border: none;
  transition: all .3s;
  &.prev {
    left: -35px;
    background: url(../img/icons/catalog-prev-btn.png) center no-repeat;
    background-size: 100% 100%;
  }

  &.next {
    right: -35px;
    background: url(../img/icons/catalog-next-btn.png) center no-repeat;
    background-size: 100% 100%;
  }
  &:hover {
    transform: scale(1.2);
  }
  &.slick-disabled {
    opacity: .5;
  }
}
/*======================================================================================================================
                                                popular goods slider
======================================================================================================================*/
.popular-goods-wrapper {
  padding: 0 0 10px;
  background: #7f3f98 url(../img/popular-goods-slider/bg.jpg) center no-repeat;
}

.popular-goods-title {
  font-family: 'museo_sans_cyrl';
  margin: 15px 0;
  color: #fff;
  font-size: 19px;
  text-align: center;
}

.popular-goods-slider,
.view-later-slider, 
.we-recomend-slider {
  margin: 0 -15px;
  &:not(.slick-slider) {
    height: 210px;
    overflow: hidden;
  }
}

.popular-goods-slider-item,
.view-later-slide, 
.we-recomend-slide {
  margin: 0 15px;
  padding: 20px 15px 8px;
  border: 1px solid $bg-base;
  border-radius: 8px;
  background: #fff;
  overflow: hidden;
  &:not(.slick-slide) {
    width: 262px;
    float: left;
  }
  .pg-slider-img-wrap,
  .vp-slider-img-wrap,
  .wr-slider-img-wrap {
    width: 90px;
    margin-right: 15px;
    float: left;
    img {
      max-width: 100%;
    }
  }

  .pg-slider-info-wrap,
  .vp-slider-info-wrap,
  .wr-slider-info-wrap {
    h5 {
      height: 75px;
      overflow: hidden;
      text-overflow: ellips;
      margin: 0;
    }
    a {
      display: block;
      font-size: 18px;
      text-decoration: none;
      color: #2e1b36;
      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: #9362a6;
      }
    }

    .pg-slider-price,
    .vp-slider-price,
    .wr-slider-price {
      margin-top: 10px;
    }

    .pg-slider-price-line,
    .vp-slider-price-line,
    .wr-slider-price-line {
      color: $bg-base;
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  .vp-slider-info-wrap h5{
    margin-top: 30px;
  }
}

.we-recomend-slide {
  padding-right: 0;
  padding-left: 0;
}

.slider-wrap {
  margin-top: 14px;
  .header {
    padding-top: 8px;
    padding-bottom: 10px;
    margin-bottom: -5px;
    border-radius: 8px 8px 0 0;
    background: #f7911f;
    text-align: center;
    color: #fff;
    font-family: 'museo_sans_cyrl';
    font-size: 15px; 
  }

  .slider-goods {
    border-radius: 8px 8px 0 0;
    background: #fff;
    .view-later-slide, .we-recomend-slide {
      border: none;
      background: none;
    }
  }
}

.popular-slider-btn {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 26px;
  height: 36px;
  margin: auto 0;
  border: none;
  transition: all .3s;
  &.prev {
    left: -35px;
    background: url(../img/icons/popular-prev-btn.png) center no-repeat;
    background-size: 100% 100%;
  }

  &.next {
    right: -35px;
    background: url(../img/icons/popular-next-btn.png) center no-repeat;
    background-size: 100% 100%;
  }
  &:hover {
    transform: scale(1.2);
  }
  &.slick-disabled {
    opacity: .5;
  }
}
/*======================================================================================================================
                                                     comments
======================================================================================================================*/
.comments-wrap {
  padding: 0 0 10px;
  background: #fec20e;
}

.comments-title {
  font-family: 'museo_sans_cyrl';
  margin: 10px 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.comments-slider {
  padding: 5px 0 0;
  border: 1px solid $bg-base;
  border-radius: 8px;
  background: #fff;
}

.comment-item {
  padding: 15px;
  .comments-img {
    position: relative;
    padding: 0;
    display: block;
    width: 106px;
    height: 100px;
    overflow: hidden;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      background: url(../img/comments-outlet.png) center no-repeat;
      background-size: 100% 100%;
    }
    img {
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      min-width: 100%;
      min-height: 100%;
      margin: auto;
    }
  }

  .media-body {
    padding-left: 15px;
  }

  .media-heading {
    margin: 8px 0 0;
    font-size: 19px;
    color: $bg-base;
  }

  .media-info {
    font-size: 14px;
    color: #39b54a;
  }

  .media-text {
    margin-top: 6px;
    font-size: 12px;
    color: #595959;
  }
}

.comments-slider-btn {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 26px;
  height: 36px;
  margin: auto 0;
  border: none;
  transition: all .3s;
  &.prev {
    left: -35px;
    background: url(../img/icons/comments-prev-btn.png) center no-repeat;
    background-size: 100% 100%;
  }

  &.next {
    right: -35px;
    background: url(../img/icons/comments-next-btn.png) center no-repeat;
    background-size: 100% 100%;
  }
  &:hover {
    transform: scale(1.2);
  }
  &.slick-disabled {
    opacity: .5;
  }
}

.catalog-comment {
  margin-top: 40px;
  border: 1px solid $bg-base;
  border-radius: 10px;
  padding: 25px 30px;
  .comment-item {
    padding: 0;
    .media-body {
      padding-left: 50px;
    }
    + .comment-item {
      margin-top: 18px;
      padding-top: 18px;
      border-top: 1px solid #c6c6c6;
    }
  }
}

.news-comment {
  .comment-item {
    padding: 0 20px;
    .media-body {
      padding-left: 50px;
    }
    + .comment-item {
      margin-top: 18px;
      padding-top: 18px;
      border-top: 1px solid #c6c6c6;
    }
  }
}

.news-comment-title {
  margin: 20px 0 25px 45px;
  font-size: 20px;
  font-family: 'museo_sans_cyrl';
  color: #7e3f97;
}
/*======================================================================================================================
                                                    goods card slider
======================================================================================================================*/
.preview-slider-goods {
  margin: 18px 0 30px;
  &:not(.slick-slider) {
    .preview-slider-item + .preview-slider-item {
      display: none;
    }
    overflow: hidden;
  }
}

.preview-slider-item  {
  text-align: center; 
  img {
    margin: 0 auto;
    max-width: 90%;
    min-width: 30%; 
  }
}

.modal {
  .item-slider-goods {padding: 0;}
}

.buy-modal-body {
  padding: 40px;
}

.item-slider-goods {
  padding: 0 60px;
  &:not(.slick-slider) {
    padding: 0;
    overflow: hidden;
    height: 64px;
    text-align: center;
    .i-sg-item {
      display: inline-block;
      height: 64px;
      width: 64px;
    }
  }
}

.i-sg-item {
  width: 64px;
  margin: 0 15px;
  img {
    margin: 0 auto;
    border: 1px solid #bebebe;
  }
}
/*======================================================================================================================
                                                    goods card info
======================================================================================================================*/
.goods-name {
  margin: 0 0 12px;
  font-size: 25px;
  color: #000;
  .help-block {
    margin: 12px 0 18px;
    display: block;
    font-size: 14px;
    color: #868686;
  }
}

  
.goods-base-info {
  
}
.goods-catalog-list,
.goods-catalog-form-list {
  dl {
    border-top: 1px solid #dbdbdb;
    margin: 0;
    font-size: 14px;
    &:last-child {
      border-bottom: 1px solid #dbdbdb;
    }
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
    dt {
      padding: 6px 3px;
      font-weight: normal;
      color: #8d8c8c;
      label {
        margin: 4px 0 0;
        font-weight: 400;
      }
    }
  
    dd {
      padding: 4px 5px 4px 10px;
      font-weight: 700;
      color: #000;
    }

    dt, dd {
      margin: 0;
      float: left;
      width: 50%; 
    }

    a {
      color: #8d8c8c;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.goods-catalog-form-list {
  margin-top: 15px;
  dl {
    border: none;

    &:last-child {
      border-bottom: none;
    }

    dt {
      padding-top: 7px;
      padding-bottom: 7px;
      width: 25%;
    }

    dd {
      padding-top: 7px;
      padding-bottom: 7px;
      width: 75%;
    }
  }
}

.input-size-wrap {
  margin-top: -7px;
  margin-bottom: -7px;
}

.radio-size {
  display: inline-block;
  margin: 7px 14px 7px 0;
  cursor: pointer;
  input:checked {
    +.bool {
      background: #7f3f98;
      color: #fff;
    }
  }
  &.disabled {
    cursor: default;
    .bool {
      color: #adadad;
      border-color: #adadad;
    }
  }
  .bool {
    display: inline-block;
    min-width: 40px;
    padding: 0 2px;
    margin-bottom: 0;
    border: 1px solid #7f3f98;
    border-radius: 3px;
    background: #fff;
    text-align: center;
    color: #7f3f98;
    transition: background .3s, color .3s;
  }
  
}

.goods-catalog-info-text {
  margin-top: 20px;
  color: #000;
  font-size: 15px;
  line-height: 1.3;

  ul, ol {
    margin-top: 20px;
    padding: 0 0 0 20px;
  }
}

.gt-orice {
  font-size: 24px;
  line-height: 1;
  color: #ff8700;
}

.order-type-list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
}

.order-call {
  margin-bottom: 55px;
}

.order-type-list {
  margin: 15px 0 25px;
  li {
    margin: 9px 0;
    a {
      font-size: 15px;
    }
  }
}

.rating-xs {
  height: 18px;
  font-size: 25px;
  line-height: 1;
}
.rating-uni {
  font-size: 25px;
  top: -5px;
  position: relative;
  line-height: 18px;
}
/*======================================================================================================================
                                                    catalog style
======================================================================================================================*/
.left-bat-title {
  margin: 0 0 15px;
  font-family: 'museo_sans_cyrl';
  font-weight: 500;
  font-size: 20px;
  color: #7e3f97;
}

.catalog-filter-wrap {
  padding: 0 0 0 20px;
  h2 {
    margin: 17px 0 21px;
    font-family: 'museo_sans_cyrl';
    font-weight: 500;
    font-size: 17px;
    color: #7e3f97;
  }
  .btn-filter-submit,
  .btn-filter-reset {
    display: block;
    margin: 0 auto;
    +.btn {
      margin-top: 10px;
    }
  }
}

.filter-list-menu {
  padding: 0 0 5px;
  margin: 0;
  border-bottom: 1px solid #f7911f;
  list-style: none;
  >li {
    margin: 9px 0;
    > a {
      font-size: 15px;
      color: #000;
      text-decoration: none;
      text-transform: uppercase;
      &:hover,
      &:focus {
        text-decoration: none;
        color: #7e3f97;
      }
      &.active {
        font-weight: 700;
        color: #7e3f97;
      }
    }
  }
  .filter-list-submenu {
    display: none;
  }
}

.filter-list-submenu {
  margin: 6px 0;
  padding: 0 0 0 21px;
  list-style: none;
  li {
    line-height: 18px;
    > a {
      font-size: 15px;
      color: #b9babc;
      text-decoration: none;
      &:hover,
      &:focus {
        color: #b9babc;
        text-decoration: underline;
      }
      &.active {
        font-weight: 700;
      }
    }
  }
}

.open-sub-menu {
  position: relative;
  top: 2px;
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #f7911f;
  border-radius: 2px;
  margin-right: 8px;
  &:after,
  &:before {
    position: absolute;
    display: block;
    content: '';
    background: #f7911f;
    top: 0;
    right: 0;
    bottom: 0;  
    left: 0;
    margin: auto;
    transition: transform .3s;
  }

  &:after {
    width: 7px;
    height: 1px;
  }

  &:before {
    height: 7px;
    width: 1px;
  }

  &.open {
    &:before {
      transform: rotate(90deg);
    }
  }
}

.range-slider-container {
  margin-bottom: 40px;
  text-align: center;
  .rs-title {
    margin: 0 0 5px;
    text-align: center;
    font-size: 21px;
    color: #f7911f;
  }

  .range-between-info {
    margin-top: -3px;
    color: #000;
    font-size: 16px;
  }
}

.tooltip {
  transform: translateY(-7px);
  transition: transform .4s,opacity .4s;
  &.in {
    transform: translateY(0);
  }
}

.slider.slider-horizontal .slider-track {
  height: 5px;
  background: #e1d7e6;
  border: 1px solid  #d2c9d7;
  box-shadow: none;
}

.slider-selection {
  background: none;
  box-shadow: none;
}

.slider-handle {
  height: 18px;
  width: 18px;
  background: #f7911f;
  border: 2px solid #7f3f98;
}

.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
  margin-top: -8px;
}

.tooltip-inner {
  background: #f7911f;
}

.tooltip.top .tooltip-arrow {
  border-top-color: #f7911f;
}

.panel-catalog {
  border: 1px solid #c6c6c6;
  border-radius: 8px;
  margin: 0;
  +.panel {
    margin-top: 10px;
  }
  .panel-heading {
    padding: 5px 25px;
    border-radius: 7px 7px 0 0;
    background: #f7911f;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
  }
  .panel-body {
    padding: 10px 0px 10px 25px;
    &.checkbox-container {
      
    }

    .js-scrollbar {
      max-height: 80px;
      height: auto;
      overflow-y: auto;
    }
  }
}

.panel {
  .checkbox {
    margin: 0;
    color: #b9babc;
    font-size: 15px;
    line-height: 1.35;

    input[type="checkbox"] {
      position: absolute;
      margin: 0;
      clip: rect(0, 0, 0, 0);
    }
   
    input[type="checkbox"]:checked {
      + .checkbox-filter {
        &:after {
          opacity: 1;
          transform: translateY(0px) rotate(45deg);
          right: 4px;
        }
        &:before {
          opacity: 1;
          transform: translateY(0px) rotate(-45deg);
          left: 4px;
        }
      }
    }

    label {
      padding: 0 0 0 20px;
      min-height: 19px;
    }
  
    .checkbox-filter {
      position: absolute;
      top: 3px;
      left: 0;
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 1px solid #f7911f;
      border-radius: 2px;
      margin-right: 8px;
      &:after,
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 4px;
        width: 2px;
        height: 6px;
        background: #7f3f98;
        opacity: 0;
        transition: transform .3s, opacity .3s;
      }
      &:after {
        transform: translateY(-5px) rotate(45deg);
        right: 4px;
      }
      &:before {
        transform: translateY(-5px) rotate(-45deg);
        left: 4px;
      }
    }
  }
}

.jspVerticalBar {
  right: 4px;
  width: 4px;
  height: auto;
  background: none;
}
.jspTrack {
  padding: 8px 0;
  background: none;
}

.jspDrag {
  border-radius: 4px;
  background: #e1d7e6;
}

.catalog-filter-top {
  margin-bottom: 25px;
  padding-bottom: 1px;
  padding-left: 35px;
  border-bottom: 1px solid #bebfc1;
  font-size: 13px;
  .pagination {
    float: right;
  }

  .goods-showing-count,
  .sort-by {
    float: left;
  }

  .sort-by {
    margin-left: 40px;
  }
}

.show-all {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.sort-direction {
  display: inline-block;
  padding: 0;
  margin: 0 0 0 15px;
  list-style: none;
  li {
    display: inline-block;
    vertical-align: middle;
    a {
      position: relative;
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50% ;
      border: 1px solid #f7911f;
      transition: all .3s;
      &:before,
      &:after {
        background:  #f7911f;
      }
      &.active,
      &:hover  {
        background: #f7911f;
      }
      &:hover:before,
      &:hover:after,
      &.active:before,
      &.active:after{
        background: #fff;
      }
    }
  }
}

.sort-asc:before,
.sort-asc:after,
.sort-desc:after,
.sort-desc:before {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  height: 6px;
  width: 1px;
}

.sort-asc:before,
.sort-desc:before  {
  left: 5px;
  transform: rotate(45deg);
}

.sort-desc:before {
  transform: rotate(-45deg);
}

.sort-asc:after,
.sort-desc:after  {
  right: 5px;
  transform: rotate(-45deg);
}

.sort-desc:after {
  transform: rotate(45deg);
}

.sort-by-list {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
  
  li {
    display: inline-block;
    margin-left: 14px;
    a {
      text-decoration: none;
      color: #000;
      &:hover {
        color: #7f3f98;
      }
      &.active {
        color: #7f3f98;
      }
    }
  }
}

.pagination {
  margin: 0;
  li {
    a, span {
      padding: 0;
      border: none;
      margin: 0 4px;
      font-size: 15px;
      color: #808285;
      background: none;
      border: none;
      &:hover {
        background: none;
        color: #f7911f;
        text-decoration: underline;
      }
    }
    
    span {
      color: #f7911f;
    }
  
    .prev, 
    .next {
      color: #f7911f;
    }
  }
}

.catalog-list {
  .row>[class*="col-"] {
    float: none;
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }
}

.catalog-item {
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
  text-align: center;

  .catalog-item-img {
    height: 250px;
    img {
      vertical-align: middle;
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  .catalog-item-name {
    margin: 0;
    a {
      font-size: 17px;
      text-decoration: none;
      color: #000;
      &:hover,
      &:focus {
        text-decoration: underline;
        color: #000;
      }
      
    }
  }

  .catalog-item-price {
    font-size: 17px;
    color: #ff8700;
  }

  .quick-view {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    margin: auto;
    width: 170px;
    transform: scale(.3);
    opacity: 0;
    transition: transform .3s, opacity .3s;
  }

  &:hover {
    .quick-view {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.catalog-item-action {
  display: inline-block;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    margin: 0 6px;
    a {
      transition: opacity .3s;
      &:hover {
        opacity: .7;
      }
      .active {
        opacity: .7;
        filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id…ale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        filter: gray;
      }
      span {
        margin: 0;
      }
    }
  }
}
/*======================================================================================================================
                                                    news style
======================================================================================================================*/
.news-item {
  margin-bottom: 20px;
  font-family: 'museo_sans_cyrl';
  &.opened {
    position: relative;
    .news-title a,
    .news-preview {
       color: #ff8700;
       .triangle {
        transform: rotate(-90deg);
         &:before, &:after {
          background: #ff8700;
         }
       }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0px;
      right: -36px;
      width: 17px;
      height: 19px;
      background: url(../img/news-triangle.png) center no-repeat;
      z-index: 5;
    }
  }
}

.news-date {
  color: #808285;
  font-size: 15px;
}

.news-title {
  margin: 3px 0;
  font-size: 18px;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: #7f3f98;
    }
  }
}

.news-preview {
  font-size: 14px;
  color: #000;
  .triangle {
    position: relative;
    display: inline-block;
    width: 7px;
    height: 5px;
    vertical-align: middle;
    margin-left: 3px;
      &:after,
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 1px;
        height: 6px;
        background: #000;
    }

    &:after {
      transform: rotate(-45deg);
      left: 1px;
    }

    &:before {
      transform: rotate(45deg);
      right: 1px;
    }
  }
}

.news-article {
  padding: 30px;
  border: 1px solid #f7911f;
  border-radius: 10px;
  background: #fff;
}

.news-article-date {
  font-size: 15px;
  color: #39b54a;
}

.news-article-title {
  margin: 0 0 10px;
  font-size: 25px;
  color: #7f3f98;
  .help {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #7f3f98;
  }
}

.news-article-body {
  font-size: 16px;
  color: #000;
  img.pull-left {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
/*======================================================================================================================
                                                    cabinet style
======================================================================================================================*/
.nav-tabs {
  border: none;
  li {
    text-align: center;
    width: 48.5%;
    +li {
      float: right;
    }
    a {
      padding: 6px 15px 14px;
      border: none;
      border-radius: 10px 10px 0 0;
      background: #ffedb7;
      font-size: 25px;
      font-family: 'museo_sans_cyrl';
      text-decoration: none;
      transition: all .3s;
      &:hover,
      &:focus {
        border: none;
        background: #7f3f98;
        text-decoration: none;
        color: #fff;
      }
    }
    &.active{
      a,
      a:hover,
      a:focus {
        border: none;
        background: #7f3f98;
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.tab-content {
  position: relative;
  margin-top: -10px;
  padding: 25px 80px;
  background: #fff;
  border: 1px solid #7f3f98;
  border-radius: 10px;
  z-index: 1;
}

.panel-cabinet {
  margin: 0;
  border: 1px solid #f7911f;
  border-radius: 0;
  margin-bottom: 30px;
  .panel-heading  {
    padding: 2px 15px;
    border-radius: 0;
    background: #f7911f;
    text-align: center;
    font-size: 19px;
    color: #fff;
  }

  .panel-body {
    padding: 20px 10px;
  }

  .form-group {
    margin-bottom: 5px;
    label {
      width: 100%;
      margin: 0;
      font-weight: 400;
      font-size: 18px;
      color: #504f4e;
      text-align: center;
    }
  }

  .checkbox {
    margin: 0 25px;
  }
}

.label-left {
  .form-group {
    label {
      text-align: left;
      font-size: 14px;
    }

    .form-control {
      text-align: left;
    }
  }
}

.cabinet-order-info {
  margin: 15px 0 0;
  dl {
    margin: 0;
    overflow: hidden;
    font-size: 18px;
    + dl {
      margin-top: 12px;
    }
    &.head {
      margin-bottom: 20px;
      dd {
        text-decoration: none;
        font-weight: 700;
      }
    }
  }

  dt {
    width: 50%;
    padding-right: 15px;
    float: left;
    text-align: right;
    font-weight: 400;
    color: #504f4e;
  }

  dd {
    width: 50%;
    padding-left: 15px;
    float: right;
    color: #7f3f98;
    text-decoration: underline;
  }
}

.discont-cabinet {
  height: 155px;
  margin: 15px 0;
  padding: 30px 20px 10px;
  overflow: hidden;
  background: url(../img/discont.png) center no-repeat;
  background-size: 101% 101%;
  border: 2px solid #f7911f;
  border-radius: 8px;
  color: #fff;
  font-family: 'museo_sans_cyrl';
  .discont-type {
    float: left;
    width: 180px;
  }
}

.discont-type-name {
  font-size: 25px;
}

.discont-how-get {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
  &:hover,
  &:focus {
    text-decoration: none;
    color: #fff;
  }
}

.discont-value {
  float: left;
  padding-left: 35px;
  font-size: 68px;
  line-height: 1.2;
}

.discont-page {
  max-width: 825px;
  margin: 0 auto;
  padding-bottom: 25px;
  .discont-cabinet {
    height: 60px;
    max-width: 520px;
    margin: 0 auto 35px;
    padding: 5px 20px;
  }

  .discont-type-name {
    font-size: 25px;
  }

  .discont-type {
    width: auto;
  }

  .discont-value {
    padding: 0;
    float: right;
    font-size: 43px;
  }
  >p{
    max-width: 460px;
    margin: 0 auto;
  }
}

.bought-sum {
  max-width: 540px;
  margin: 0 auto 20px;
  overflow: hidden;
  text-align: center;
  dt {
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
    color: #504f4e;
  }
  dd{
    color: #7f3f98;
    font-size: 25px;
  }
  dt,
  dd {
    display: inline-block;
    vertical-align: middle;
  }
}

.table-discont {
  tbody tr td,
  thead tr th  {
    padding: 5px 15px;
    border-top-width: 3px;
    border-top-color: #fff;
    background: #ffedb7;
    vertical-align: middle;
    text-align: center;
  }
  .head{
    color: #504f4e;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
  }
  td {
    padding: 5px 15px;
    font-size: 12px;
    color: #7f3f98;
    &.parcent {
      font-size: 24px;
      font-weight: 700;
    }
  }
}
/*======================================================================================================================
                                                    checkout style
======================================================================================================================*/
.alert-default {
  max-width: 800px;
  margin: 0 auto 20px;
  text-align: center;
  font-size: 17px;
  color: #504f4e;
}

.panel-checkout {
  border: 1px solid #f7911f;
  border-radius: 10px;
  >.panel-heading {
    position: relative;
    border-radius: 10px 10px 0 0;
    background: #7f3f98;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-family: 'museo_sans_cyrl';
    .close {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto 0px;
    }
  }

  >.panel-body {
    background: #fffbf3;
    border-radius: 0 0 10px 10px;
    &.campare-body {
      padding-right: 40px;
      padding-left: 40px;
    }
  }
  label.error {
    font-size: 14px;
  }

  .radio +.radio {
    margin-top: 29px;
  }

  .payment-service-list {
    text-align: justify;
    margin: 30px 0 0;
    li {
      margin: 0 5px;
    }
  }
  .help {
    margin: 15px 0 0;
    font-size: 12px;
  }
}

.confirm-checkout {
  .checkbox label{
    color: #000;
    font-size: 12px;
  }
  .checkbox {
    margin-bottom: 8px;
    .checkbox-filter {
      top: 1px;
    }
  }
}

.radio {
  input[type="radio"] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }
  
  input[type="radio"]:checked + .radio-circle {
    &:before {
      transform: scale(1);
    }
  }
  
  label {
    padding-left: 25px;
  }

  .radio-circle {
    position: absolute;
    left: 0;
    top: 1px;
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid #7f3f98;
    border-radius: 50%;
    background: #ffedb7;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #7f3f98;
      transform: scale(0);
      transition: transform .3s;
    } 
  }

  .price {
    font-size: 16px;
    font-weight: bold;
    color: #7f3f98;
  }
}

.to-payment {
  overflow: hidden;
  font-size: 14px;
  font-family: 'museo_sans_cyrl';
  color: #7f3f98;
  .text {
    width: 50%;
    float: left;
    padding-right: 15px;
    text-align: right;
  }

  .value {
    width: 50%;
    float: right;
    padding-left: 15px;
    text-align: left;
    font-size: 24px;
  }
}

.first-checkout-panel {
  min-height: 424px;
}
/*======================================================================================================================
                                                    backet style
======================================================================================================================*/
.bascket-form {
  padding: 25px 40px;
}

.basket {
  font-family: 'museo_sans_cyrl';
  text-align: center;
  .basket-info {
    font-size: 14px;
    color: #3b3b3b;
  }

  .basket-result {
    margin: 10px 0 20px;
    padding: 20px 5px;
    background: #f7911f;
    border: 1px solid #7f3f98;
    border-radius: 6px;
    font-size: 24px;
    color: #fff;
    +.btn {
      width: 100%;
      padding: 5px 7px;
      font-size: 17px;
    }
  }

}

.basket-links-toolbar {
  margin-top: 20px;
  a {
    display: block;
    text-align: center;
    font-size: 15px;
    font-family: 'museo_sans_cyrl';
    color: #f7911f;
    text-decoration: none;
    transition: opacity .3s;
    &:hover {
      color: #f7911f;
      text-decoration: none;
      opacity: .7;
    }
  }
}

.basket1,
.basket2,
.basket3 {
  width: 43px;
  height: 28px;
  display: block;
  margin: 0 auto 20px;
  background-position: center;
  background-repeat: no-repeat;
}

.basket1 {
  background-image: url(../img/icons/basket-link1.png);
}
.basket2 {
  background-image: url(../img/icons/basket-link2.png);
}
.basket3 {
  background-image: url(../img/icons/basket-link3.png);
}

.bascket-wrap {
  .row {
    width: 100%;
    display: table;
  }
  .head {
    display: table-row;
    text-align: center;
    font-size: 14px;
    color: #3b3b3b;
  }

  .body {
    display: table-row-group;
    text-align: center;
    .body-row {
      display: table-row;
      font-size: 14px;
      color: #3b3b3b;
      a {
        font-size: 14px;
        color: #3b3b3b;
        text-decoration: none;
        &:hover,
        &:focus {
          color: #3b3b3b;
          text-decoration: underline;
        }
      }
    }
  }
  
  

  .col-lg-2,
  .col-lg-3 {
    float: none;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
    border-bottom: 1px solid #f7911f;
    img {
      max-width: 100%;
    }
  }

  .col-lg-2 {
    width: 12%;
  }

  .col-lg-3 {
    text-align: left;
    width: 28%;
  }
}

.price-color {
  color: #7f3f98;
  font-weight: bold;
}

.input-group.bootstrap-touchspin {
  width: 76px;
}

.mobil-basket {
  display: block;
  border: 1px solid #f7911f;
  border-radius: 5px;
  + .mobil-basket {
    margin-top: 20px;
  }
  .body-row {
    display: block;
    overflow: hidden;
    padding: 8px 0;
    + .body-row {
      border-top: 1px solid #f7911f;
    }
    >div {
      display: inline-block;
      width: 50%;
      padding: 0 5px;
      vertical-align: middle;
      margin-right: -5px;
      &:first-child {
        padding-right: 5px;
      }
      &:last-child {
        padding-left: 5px;
      }
    }
    &:last-child > div,
    &:first-child > div {
      width: 100%;
      text-align: center;
      .close {
        float: none;
        display: inline-block;
      }
    }
    &:first-child div{
      color: #f7911f;
      font-weight: 700;
      font-size: 20px;
    }
  }
}
/*======================================================================================================================
                                                    section style
======================================================================================================================*/
.compare-table-wrap {
  width: 100%;
  position: relative;
  overflow-y: hidden;
  overflow-x: auto;

  .rating-wrap {
    margin-top: 25px;
  }

  .catalog-item-name a {
    display: block;
    font-size: 19px;
    margin: 10px 0;
  }

  .catalog-item-price {
    font-size: 25px;
  }

  .close.close-red {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.campare-body {
  position: relative;
  .jspHorizontalBar {
    visibility: hidden;
  }
}

.compare-btn {
  z-index: 5;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 26px;
  height: 36px;
  margin: auto 0;
  border: none;
  transition: all .3s;
  &.prev {
    left: 5px;
    background: url(../img/icons/compare-to-start.png) center no-repeat;
    background-size: 100% 100%;
  }

  &.next {
    right: 5px;
    background: url(../img/icons/compare-to-end.png) center no-repeat;
    background-size: 100% 100%;
  }
  &:hover {
    transform: scale(1.2);
  }
}
.compare-table {
  thead {
    tr {
      th {
        vertical-align: top;
        border-color: #f7911f;
        border-width: 1px;
        min-width: 285px;
        .btn {
          width: 170px;
          display: block;
          +.btn {
            margin-top: 20px;
          }
        }
        &:first-child {
          min-width: 190px;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        border-color: #f7911f;
        min-width: 285px;
        &:first-child {
          min-width: 190px;
        }
      }
    }
  }
}
/*======================================================================================================================
                                                    section style
======================================================================================================================*/
.about-as {
  padding: 25px 0 15px;
  background: url(../img/about-us.png) center top no-repeat;
  font-size: 14px;
  color: #6a606f;

  h2 {
    font-family: 'museo_sans_cyrl';
    margin: 12px 0;
    font-size: 19px;
    color: #7f3f98;
  }
  p {
    line-height: 1.2;
  }
}

.container .jumbotron, .container-fluid .jumbotron {
  background: none;
}

.p-10-0-20 {
  padding: 10px 0 20px;
}
/*======================================================================================================================
                                                    footer style
======================================================================================================================*/
.footer {
  margin-top: 37px;
  background: #fff url(../img/body-bg.png) center -20px no-repeat;
  background-size: 100% auto;
}

.footer-inner {
  padding: 25px 0 20px;
  background: #ffedb7;
  border-radius: 10px;
}

.menu-list-title {
  font-family: 'museo_sans_cyrl';
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 500;
  color: #7f3f98;
}

.menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    margin-bottom: 3px;
  }
  a {
    font-size: 14px;
    color: #3b3b3b;
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.social-link-list {
  padding: 0 0 30px 25px;
  margin: 0;
  text-align: left;
  li {
    margin: 0 2px;
    list-style: none;
    display: inline-block;
  }
}

.payment-service-list {
  padding: 0;
  margin: 4px 0 30px;
  text-align: left;
  li {
    margin: 0 16px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
  }
}
.to-up {
  position: fixed;
  right: 15px;
  top: -100%;
  font-size: 16px;
  color: #7f3f98;
  text-decoration: none;
  transition: top .3s, opacity .3s;
  z-index: 100;
  &:hover,
  &:focus {
    color: #7f3f98;
    text-decoration: none;
    opacity: .7;
  }
}
/*======================================================================================================================
                                                    buttons
======================================================================================================================*/
.btn {
  padding: 5px 18px;
  font-size: 16px;
  transition: background .3s;
  border-radius: $btn-radius;
}
.btn-primary, 
.btn-save {
  font-family: 'museo_sans_cyrl';
  font-size: 15px;
  background: $btn-primary-bg;
  border-color: $btn-primary-border-color;
  text-decoration: underline;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    background: $btn-primary-bg--hover;
    border-color: $btn-primary-border-color;
    text-decoration: none;
  }
}

.btn-save {
  padding: 5px 25px;
  background: #fec20e;
  text-decoration: none;
  color: #fff;
  &:hover,
  &:focus,
  &:active {
    background: #fec20e;
    color: #fff;

  }
}

.btn-buy {
  border: 1px solid $btn-primary-border-color;
  background: url(../img/buy-btn-bg.png) left center no-repeat;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  transition: all .3s;
  font-size: 18px;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    opacity: .7;
    text-decoration: none;
  }
  &.btn-lg {
    height: 50px;
    width: 100%;
    font-size: 21px;
  }
}
.btn-send {
  border: 1px solid $btn-primary-border-color;
  background: url(../img/send-btn-bg.png) left center no-repeat;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  transition: all .3s;
  font-size: 16px;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    opacity: .7;
    text-decoration: none;
  }
}

.btn-filter-submit,
.btn-filter-reset {
  min-width: 130px;
  padding: 6px 18px;
  border: none;
  border-radius: 8px;
  font-family: 'museo_sans_cyrl';
  font-size: 14px;
  color: #fff;
  &:hover,
  &:focus,
  &:active,
  &:active:hover {
    color: #fff;
    opacity: .7;
    text-decoration: none;
  }
  &.active {
    background: #7f3f98;
  }
}

.btn-filter-submit {
  background: #7f3f98;
}

.btn-filter-reset  {
  background: #f7911f;
}

.quick-view {
  display: inline-block;
  padding: 2px 18px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 12px;
  background: #f7911f;
  box-shadow: 0 0 10px rgba(24, 24, 24, .2);
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
    opacity: .7;
  }
}

.bootstrap-touchspin .input-group-btn .bootstrap-touchspin-down,
.bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up {
  height: 24px;
  width: 24px;
  overflow: hidden;
  padding: 0;
  background: none!important;
  border: none;
  padding: 0;
  text-align: center;
  color: #5a5a5a;
  position: relative;
  text-indent: -99999px;
  &:after,
  &:before {
    content: '';
    display: block;
    position: absolute;
    height: 7px;
    width: 2px;
    background: #5a5a5a;
    top: 9px;
  }
  &:after {
    transform: rotate(45deg);
    right: 9px;
  }
  &:before {
    transform: rotate(-45deg);
    left: 9px;
  }
  &:active {
    box-shadow: none;
  }
}

.bootstrap-touchspin .input-group-btn .bootstrap-touchspin-up {
  transform: rotate(180deg);
}

.bootstrap-touchspin {
  .input-group-btn {
    padding: 0;
    height: 24px;
  }
}
/*======================================================================================================================
                                                    forms
======================================================================================================================*/
.form-control {
  border-radius: $btn-radius;
  border-color: $form-control-border-color;
  color: $form-control-color;
  &:focus {
    box-shadow: inset 0 1px 1px rgba(254,194,14,.075),0 0 8px rgba(254,194,14,.6);
    border-color: $form-control-border-color;
  }
}

.input-group {
  .btn {
    padding-right: 13px;
    padding-left: 13px;
    border-color: $form-control-border-color;
    border-left: 0;
    background: url(../img/btn-search-bg.png) left center no-repeat;
    background-size: cover;
    font-family: 'museo_sans_cyrl';
    color: #fff;
  }
}

.form-control {
  &.bottom-only {
    border-radius: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #f7911f;
    font-family: 'museo_sans_cyrl';
    text-align: center;
    color: #f7911f;
  }

  &.card-control {
    height: 26px;
    padding: 3px 8px;
    border: 1px solid #686868;
    border-radius: 6px;
    color: #767676;
  }

  &.size-l {
    width: 60px;
  }

  &.personal-control {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: #ffedb7;
    font-size: 18px;
    color: #504f4e;
    text-align: center;
  }

  &.date {
    background: #ffedb7 url(../img/icons/date.png) 95% center no-repeat;
    padding-right: 30px;
  }

  &.time {
    background: #ffedb7 url(../img/icons/time.png) 95% center no-repeat;
    padding-right: 30px;
  }

  &.js-spin {
    width: 30px;
    height: 24px;
    padding-right: 0;
    padding-left: 0;
    border: 1px solid #5a5a5a;
    border-radius: 3px!important;
    box-shadow: none;
    text-align: center;
  }
}

textarea.form-control.personal-control {
  text-align: left;
}

label.error {
  display: block;
  text-align: left !important;
  color: rgb(235, 36, 41) !important;
  font-weight: 400 !important;
  font-size: 18px;
}

.required {
  color: rgb(235, 36, 41);
}
/*======================================================================================================================
                                                    modal
======================================================================================================================*/
.modal-content {
  border: 1px solid #f7911f;
}

.modal-header {
  padding: 10px 15px;
  background: $form-control-color;
  border-radius: 5px 5px 0 0;
  font-size: 27px;
  font-family: 'museo_sans_cyrl';
  text-align: center;
  color: #fff;
}

.modal-header .close {
  margin-top: 4px;
}

/*======================================================================================================================
                                                    media
======================================================================================================================*/
@media (max-width: 1260px) {
  .catalog-slider-btn {
    &.prev {
      left: -15px;
    }
    &.next {
      right: -15px;
    }
  }

  .popular-slider-btn {
    &.prev {
      left: -15px;
    }
    &.next {
      right: -15px;
    }
  }
}

@media (max-width: 1225px) {
  .catalog-slider-btn {
    &.prev {
      left: 25px;
    }
    &.next {
      right: 25px;
    }
  }

  .popular-slider-btn {
    &.prev {
      left: 25px;
    }
    &.next {
      right: 25px;
    }
  }

  .comments-slider-btn {
    display: none!important;
  }
}

@media (max-width: 1199px) {
  .catalog-slider-btn {
    &.prev {
      left: -15px;
    }
    &.next {
      right: -15px;
    }
  }

  .payment-service-list {
    margin-left: 0;
  }

  .social-link-list {
    padding-left: 0;
  }

  .payment-service-list li {
    margin-left: 0;
    margin-right: 20px;
  }

  .comments-slider-btn {
    display: inline-block!important;
  }

  .popular-slider-btn {
    &.prev {
      left: -15px;
    }
    &.next {
      right: -15px;
    }
  }

  .buy-modal-body {
    padding: 40px 15px;
  }

  .catalog-filter-top {
    padding-left: 0;
    .sort-by {
      margin-left: 20px;
    }
  }

  .catalog-item {
    .catalog-item-img {
      height: 220px;
    }
  }

  .tab-content {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 0;
  }
  .discont-value {
    padding-left: 20px;
    float: right;
  }
  .bascket-form {
    padding: 0;
    .row {
      margin-right: 0;
      margin-left: 0;
    }
    >.clearfix>.row {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}

@media (max-width: 1024px) {
  .catalog-slider-btn {
    &.prev {
      left: 25px;
    }
    &.next {
      right: 25px;
    }
  }

  .popular-slider-btn {
    &.prev {
      left: 25px;
    }
    &.next {
      right: 25px;
    }
  }

  .comments-slider-btn {
    display: none!important;
  }
}
@media (max-width: 991px) {
  .catalog-slider-btn {
    display: none!important;
  }

  .comments-slider-btn {
    display: none!important;
  }

  .popular-slider-btn {
    display: none!important;
  }
  .payment-service-list {
    margin: 20px 0;
    text-align: center;
  }

  .social-link-list {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 20px;
    li a {
      padding: 5px 6px;
    }
  }

  .l-footer-message {
    padding-left: 0;
    text-align: center;
  }

  .goods-gallery-slider {
    margin-bottom: 25px;
  }

  .catalog-list {
    .row > [class*="col-"] {
      width: 49%;
    }
  }

  .catalog-comment {
    padding: 15px;
    .comment-item {
      .media-body {
        padding-left: 10px;
      }
    }
  }

  .catalog-filter-top {
    font-size: 15px;
    padding-bottom: 10px;
    .goods-showing-count {
      margin-bottom: 5px;
      float: none;
      width: 100%;
    }
    .sort-by {
      margin-left: 0;
    }
  }

  .catalog-filter-wrap {
    padding-left: 0;
  }

  .news-comment .comment-item .media-body {
    padding-left: 10px;
  }

  .news-article {
    padding: 15px;
  }

  .panel-checkout .radio + .radio {
    margin-top: 10px;
  }

  .panel-checkout  .payment-service-list {
    margin-top: 10px;
    li {
      margin: 0 5px 5px;
    }
  }
  .to-payment .value {
    padding: 0;
    font-size: 18px;
  }
  
  .basket-links-toolbar {
    margin-bottom: 20px;
    >* + * {
      margin-top: 20px;
    }
  }
  .rating-uni { 
    line-height: 26px;
  }
}

@media (min-width: 768px) {
  .navbar-nav>li:hover .dropdown-menu{
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
  }
}

@media (max-width: 767px) {
  .navbar-header {
    display: block;
  }

  .logo {
    padding: 0;
    text-align: center;
  }

  .logo-img {
    position: static;
  }

  .l-footer-logo {
    margin: 0;
  }

  .payment-service-list {
    margin: 20px 0;
    text-align: center;
  }

  .social-link-list {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 20px;
    li a {
      padding: 5px 6px;
    }
  }

  .l-footer-message {
    padding-left: 0;
    text-align: center;
  }

  .about-as p {
    text-align: justify;
  }

  .comment-item .comments-img {
    width: 75px;
    height: 70px;
  }

  .catalog-slider {
    margin-right: -8px;
    margin-left: -8px;
  }

  .catalog-slider-item {
    margin-right: 8px;
    margin-left: 8px;
  }

  .header-tel-link {
    font-size: 16px;
  }

  .toolbar-header li {
    margin-right: 16px;
  }

  .navbar-collapse {
    border-radius: 0;
  }

  .navbar-nav > li {
    border-bottom: 1px solid $btn-primary-bg;
  }

  .navbar-nav > li > a {
    display: block;
    padding: 8px 20px;
    font-size: 18px;
    text-align: left;
    span {
      display: block;
      float: right; 
      transition: transform .3s;
      &.open {
        transform: rotate(45deg);
      }
    }
    &:hover {
      background: none;
    }
  }

  .catalog-slider {
    margin-top: 10px;
  }

  .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
  }

  .navbar-nav > li > .dropdown-menu {
    position: relative;
    display: none;
    margin: 0;
    padding: 0;
    float: none;
    opacity: 1;
    visibility: visible;
    box-shadow: none;
    border: 0;
    transform: translateY(0);
    li {
      a {
        text-align: left;
        padding-left: 35px;
      }
    }
  }
  
  .breadcrumb-wrap {
    margin: -1px -15px 15px;
    background: none; 
  }

  .order-call {
    margin-bottom: 15px;
    a {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  
  .item-slider-goods {
    padding: 0;
  }

  .goods-catalog-form-list {
    dl {
      dt {
        width: 40%;
      }

      dd {
        width: 60%;
      }
    }
  }

  .slider-handle {
    width: 25px;
    height: 25px;
    margin-top: -13px;
  }

  .slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
    margin-top: -11px;
  }

  .catalog-filter-top {
    margin-top: 20px;
  }

  .open-sub-menu {
    width: 20px;
    height: 20px;
    top: 5px;
  }

  .panel-catalog {
    .panel-body {
      padding: 8px 0 8px 15px;
    }

    .checkbox {
      +.checkbox {
        margin-top: 5px;
      }
      .checkbox-filter {
        top: 1px;
        width: 20px;
        height: 20px;

        &:after,
        &:before {
          top: 4px;
          height: 10px;
        }
      }
      input[type="checkbox"]:checked {
        & + .checkbox-filter:after {
          right: 5px;
        }

        & + .checkbox-filter:before {
          left: 5px;
        }
      } 
      label {
        padding-left: 30px;
      }
    }
  }

  .catalog-item {
    .quick-view {
      margin-bottom: 20px;
      display: block;
      position: static;
      opacity: 1;
      transform: scale(1);
    }
  }

  .news-item.opened:after {
    display: none;
  }

  .news-article {
    margin-bottom: 20px;
  }

  .news-comment {
    margin-bottom: 20px;
  }

  .news-comment-title {
    margin-left: 0;
  }

  .news-comment .comment-item {
    padding: 0;
  }

  .news-article img {
    width: 100%;
  }
  .first-checkout-panel {
    min-height: auto;
  }

  .confirm-checkout .checkbox .checkbox-filter {
    top: 3px;
  }
  .to-payment {
    margin-bottom: 15px;
  }
  .to-payment .text {
    text-align: left;
  }

  .to-payment .value {
    text-align: right;
  }

  .panel-checkout > .panel-heading {
    font-size: 20px;
    padding: 10px 35px;
  }
}

@media (max-width: 500px) {
  .catalog-list {
    .row > [class*="col-"] {
      width: 100%;
    }
  }
  
  .catalog-filter-top {
    text-align: center;
    .v-separator {
      display: none;
    }
  }
  
  .now-show,
  .show-all {
    display: block;
  }


  .catalog-filter-top {
    .sort-by {
      float: none;
    }

    .pagination {
      margin-top: 10px;
      float: none;
      display: block;
      text-align: center;
      li {
        display: inline-block;
      }
    }
  }
  
  .tab-content {
    padding-right: 0;
    padding-left: 0;
  }

  .form-group .row {
    > [class*="col-"] {
      width: 100%;
      + [class*="col-"] {
        margin-top: 5px;
      }
    }
  }

  .discont-cabinet {
    padding-right: 10px;
    padding-left: 10px;
    .discont-type {
      width: 150px;
    }
  }

  .discont-type-name {
    font-size: 20px;
  }

  .discont-how-get {
    font-size: 16px;
  }

  .discont-value {
    font-size: 40px;  
    padding-left: 0;
  }

  .nav-tabs li a {
    font-size: 18px;
  }
  
  .discont-page {
    padding-right: 15px;
    padding-left: 15px;
    .discont-cabinet {
      height: auto;
      text-align: center;
        .discont-type {
        width: 100%;
        text-align: center;
      }
    }
    .discont-value {
      width: 100%;
      float: none;
    }
  }
  .bought-sum {
    dt, dd {margin: 0;display: block;}
  }
  .header-tel-link {
    font-size: 15px;
  }
}